.game__caro {
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100%;
  padding: 10px 25px;
}

.game__gird {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__header__container {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
}
.flex__box__caro {
  flex: 1;
  margin-right: 20x !important;
}
