.helpers__box {
  background-color: #f5f5f5;
  height: 100vh;
}

.helpers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.helpers__back {
  margin: 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.helpers__back__icon {
  font-size: 30px;
  font-weight: 500;
  margin-right: 8px;
}
.helper__heading {
  font-size: 30px;
  padding: 10px;
}
.helpers__image {
  width: 100%;
  border-radius: 15px;
}
.helpers__inf {
  margin-bottom: 20px;
}
.helpers__content {
  margin-top: 20px;
}
.helpers__content__link {
  font-size: 20px;
}
.infor__contract {
  padding: 20px 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}
.infor__contract__item__container {
  padding: 10px 20px;
  width: 100%;
}
.infor__contract__text {
  color: red;
  font-weight: 500;
  font-size: 18px;
}
.infor__contract__item__container .ant-typography {
  display: flex;
  align-items: center;
}
