.chat {
  /* flex: 1; */
  /* margin-left: 15px; */
}
.chat__controller {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}
.chat__box {
  height: 400px;
  width: 100%;
  min-height: 300px;
  min-width: 200px;
  word-wrap: break-word;
  overflow-y: scroll;
}
.chat__box::-webkit-scrollbar {
  width: 0px;
  /* background-color: #666;
  border-radius: 2px; */
}
.chat__box__message {
  margin: 5px;
}
.chat__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat__input__item {
  flex: 1 !important;
  margin-right: 0px !important;
}
.chat__input__button {
  height: 100%;
  margin-right: 0px !important;
}
.chat__content {
  word-wrap: break-word;
  background-color: #ededed;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
}
.chat__text {
  text-align: right;
  padding: 4px 0px;

  display: flex;
  flex-direction: row-reverse;
  margin-right: 5px;
}
.ant-comment-inner {
  padding: 4px 0px !important;
}
.chat__text__title {
  display: inline-block;
  background-color: rgb(98, 98, 254);
  padding: 3px 5px;
  border-radius: 4px;
  text-align: left;
  word-wrap: break-word;
}
.chat__item__typing {
  display: flex;
  align-items: center;
}
.chat__item__typing__text {
  margin-right: 5px;
  margin-left: 5px;
  color: #999;
  font-size: 15px;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6cad96;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #6cad96;
  }
  28% {
    transform: translateY(-7px);
    background-color: #9ecab9;
  }
  44% {
    transform: translateY(0px);
    background-color: #b5d9cb;
  }
}
