.timer__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  display: inline-flex;
  align-items: center;
  background-color: white;
  width: auto;
  padding: 20px;
  border-radius: 10px;
}
.timer__heading {
}
.timer__flex {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.timer__icon {
}
.timer__count {
}
.timer__color {
  color: red;
}
.timer__count {
  font-family: "Gill Sans ExtraBoldDisplay", sans-serif;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 10px 0px;
  color: black;
  min-width: 115px;
}
