.squares__flex {
  /* flex: 4; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.squares {
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #444; */
}
