body {
  margin: 0;
  font-family: Averta Black, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 17px;
}
.ant-drawer-header-title {
  justify-content: end !important;
}
.span.ant-select-selection-item {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  .ant-drawer-content-wrapper {
    width: 90% !important;
  }
}
