@import url("http://fonts.cdnfonts.com/css/drummon");
@import url("https://fonts.cdnfonts.com/css/abduction2002");
* {
  box-sizing: border-box;
  font-family: "Drummon", sans-serif;
  font-weight: 700;
  font-size: 20px;
  /* font-family: "Drummon 3D", sans-serif; */
}

body {
  margin: 0;
}
html {
  font-size: 17px;
}
.ant-drawer-header-title {
  justify-content: end !important;
}
.span.ant-select-selection-item {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  .ant-drawer-content-wrapper {
    width: 90% !important;
  }
}
.login-form-submit {
  width: 50% !important;
}
.ant-col.ant-col-6.gutter-row.gird-item {
  padding: 8px !important;
}
.ant-card.ant-card-bordered {
  border: none !important;
}
.ant-modal-header {
  padding: 0px !important;
}
button.ant-btn.ant-btn-default {
  display: inline-flex !important;
  align-items: center !important;
}

button.ant-btn.ant-btn-primary {
  display: inline-flex !important;
  align-items: center !important;
}
.ant-card-body {
  padding: 0px !important;
}
